@font-face {
  font-family: 'Lucida Grande';
  src: url(../fonts/LucidaGrande.ttf);
}

body {
  margin: 0;
}

.challenge-container {
  width: 62.5rem;
  height: 100%;
  margin: auto;
  background-color: #f6f6f6;
}

.challenge-row {
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 0;
  background-color: #f6f6f6;
}

.challenge-col {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  min-height: 1.5rem;
}

.challenge-banner {
  width: 100%;
  height: 3.0625rem;
  background-color: #ffffff;
}

.challenge-header {
  width: 100%;
  height: 4.5rem;
  background-color: #2a2a2a;
}

.challenge-main {
  width: 100%;
  height: 21rem;
  background-image: url('../images/main_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.challenge-filter {
  width: 100%;
  height: 7.5rem;
  background-color: #fafafa;
  box-shadow: 0 -0.5px 0 0 rgba(0, 0, 0, 0.1);
}

.challenge-option {
  height: 31.5rem;
  background-color: #ffffff;
  padding-left: 1.25rem;
}

.challenge-operation {
  width: 100%;
  height: 4.5rem;
  background-color: #fafafa;
  box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.challenge-item {
  position: relative;
  width: 100%;
  height: 21rem;
  box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  text-align: center;
}

.challenge-item.active {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.challenge-explore {
  width: 100%;
  height: 19.5rem;
  background-image: url('../images/explore_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.2);
}

.challenge-subscribe {
  width: 100%;
  height: 4.5rem;
  background-color: #efefef;
}

.challenge-footer {
  width: 100%;
  height: 15.0625rem;
  background-color: #2a2a2a;
  text-align: center;
}

.no-padding {
  padding: 0;
}

.banner-row {
  width: 100%;
  height: 2.25rem;
  background-color: #ffffff;
}

.header-logo {
  display: inline-table;
  margin-left: 1.95rem;
  margin-top: 1.7rem;
}

.header-menu {
  display: inline-table;
  margin-left: 2.2rem;
  margin-top: 1.8rem;
  vertical-align: top;
}

.header-menu ul {
  margin: 0;
}

.header-menu ul li {
  list-style: none;
  float: left;
}

.header-menu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  padding-right: 1.4rem;
}

.header-search {
  display: inline-table;
  position: relative;
  color: #ffffff;
  margin-top: 1.3rem;
  vertical-align: top;
}

.header-badge {
  display: inline-table;
  float: right;
  margin-top: 0.9rem;
  margin-right: 2.8rem;
  padding-top: 0.95rem;
}

.banner-box {
  display: inline-table;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #2e2e2e;
}

.banner-auth {
  padding-left: 0.65rem;
  padding-top: 1.1rem;
}

.banner-auth a {
  text-decoration: none;
  color: #f62f5e;
}

.banner-menu {
  padding-left: 1.9rem;
  padding-top: 1.1rem;
}

.banner-menu ul {
  margin: 0;
}

.banner-menu ul li {
  list-style: none;
  float: left;
}

.banner-menu ul li a {
  color: #2e2e2e;
  text-decoration: none;
  display: block;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  padding-right: 1.4rem;
}

.banner-gbp {
  padding-left: 6.3rem;
  padding-top: 1rem;
}

.banner-badge {
  padding-left: 3.95rem;
  padding-top: 1rem;
}

.badge-button {
  width: 1.5rem;
  height: 1.5rem;
  text-decoration: none;
  background-color: #ffffff00;
  text-align: center;
  position: relative;
}

.badge-icon {
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 2px 7px;
  border-radius: 100%;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.badge-white {
  background-color: #f62f5e;
  color: #ffffff;
}

.badge-red {
  background-color: #ffffff;
  color: #f62f5e;
}

.banner-bag {
  padding-left: 1.3rem;
  padding-top: 1.1rem;
}

.main-title {
  font-family: PlayfairDisplay;
  font-size: 53px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #2e2e2e;
  padding-top: 2.55rem;
  padding-left: 4.9rem;
}

.main-content {
  display: inline-block;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 0.45rem;
}

.main-first {
  width: 13.3rem;  
  margin-left: 5rem;
}

.main-second {
  width: 16.1rem;
}

.filter-title {
  padding-left: 1.3rem;
  padding-top: 1.05rem;
  padding-bottom: 1.2rem;
  font-family: 'Lucida Grande';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #2e2e2e;
}

.filter-cond {
  padding-left: 1.7rem;
  padding-bottom: 0.4rem;
  font-family: 'Lucida Grande';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #767676;
}

.product-thumb {
  width: 100%;
  height: 10.1875rem;
}

.product-title {
  width: 100%;
  padding-bottom: 0.15rem;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #2e2e2e;
}

.product-title-lg {
  font-size: 25px;
}

.product-title.bold {
  font-weight: bold;  
}

.btn {
  padding: 0.45rem 1.3rem;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  outline: none;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
  background-color: #f62f5e;
}

.btn-round {
  padding: 0.75rem 1.2rem;
  border-radius: 18px;
  font-weight: bold;
  font-size: 11px;
}

.btn-quick-view {
  padding: 0.75rem 0.85rem;
}

.btn-subscribe {
  padding: 0.75rem 1.05rem;
}
.btn-white {
  color: #f62f5e;
  background-color: #ffffff;
}

.btn-grey {
  color: #2e2e2e;
  background-color: #efefef;
}

.btn-lg {
  padding: 1rem 2.25rem;
  font-size: 16px;
  border-radius: 28px;
  letter-spacing: -1px;
}

.btn-size {
  width: 3.5rem;
  height: 1.5rem;
  margin-right: 0.15rem;
  margin-bottom: 0.5rem;
}

.btn-filter-apply {
  padding: 0.75rem 1.8rem;
}

.btn-filter-clear {
  padding: 0.75rem 0.7rem;
  color: #f62f5e;
  background-color: #fafafa;
}

.btn-dropdown {
  padding: 0.75rem 0.95rem;
  color: #2e2e2e;
  font-weight: normal;
  border: solid 1px #e1e1e1;
  background-color: #ffffff;
  margin-right: 5px;
}

.product-circle {
  width: 100%;
}

.circle {
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  margin-left: 0.28rem;
  margin-right: 0.28rem;
  margin-top: 0.7rem;
  border-radius: 100%;
  background-color: #000000;  
}

.color-red {
  color: #f62f5e;
}

.color-grey {
  color: #979797;
}

.circle-red {
  background-color: #f62f5e;
}

.circle-blue {
  background-color: #6eb2fb;
}

.circle-green {
  background-color: #00d3ca;
}

.circle-brown {
  background-color:#fe5c07;
}

.circle-yellow {
  background-color:#f8e71c;
}

.circle-greenyellow {
  background-color: #7ed321;
}

.circle-purple {
  background-color:#9013fe;
}

.product-hot {
  position: absolute;
  top: 1.05rem;
  left: 0.95rem;
}

.explore-content {
  width: 100%;
  padding-left: 3.75rem;
  padding-top: 3.9rem;
}

.explore-title {
  font-family: PlayfairDisplay;
  font-size: 55px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0;
  color: #ffffff;  
}

.explore-description {
  width: 50%;
  padding-top: 0.15rem;
  opacity: 0.9;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #ffffff;
}

.subscribe-label {
  display: inline-table;
  padding-top: 1.65rem;
  padding-left: 1.875rem;
  float: left;
  font-family: "Lucida Grande";
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.6px;
  color: #2e2e2e;
}

.subscribe-operation {
  display: inline-table;
  float: right;
  padding-top: 1.15rem;
  padding-right: 1.875rem;  
}

.footer-menu {
  text-align: left;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.5;
  padding-top: 2.95rem;
}

.footer-menu1 {
  display: inline-block;
  padding-left: 8.7rem;
}

.footer-menu2 {
  display: inline-block;
  padding-left: 4.2rem;
}

.footer-menu3 {
  display: inline-block;
  padding-left: 5.1rem;
}

.footer-menu4 {
  display: inline-block;
  padding-left: 5.5rem;
}

.footer-menu5 {
  display: inline-block;
  padding-left: 5.4rem;
}

.footer-social {
  padding-top: 1.3rem;
}

.social-icon {
  padding: 0.5rem;
}

.footer-company {
  padding-top: 0.8rem;
  font-family: Montserrat;
  font-size: 15.5px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.5;
  color: #626262;
}

.input-email {
  width: 19.3rem;
  height: 2.1rem;
  margin-right: 0.5rem;
  border-radius: 18px;
  border: solid 0.5px #e1e1e1;
  background-image: url(../images/icon_email.png);
  background-repeat: no-repeat; 
  background-position: 18px 11px;
  background-color: #ffffff;
  text-indent: 3rem;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 1px;
  color: #bababa;
}

.input-search {
  width: 16.15rem;
  height: 2rem;
  border-radius: 18px;
  border: solid 0.5px #969696;
  background-image: url(../images/icon_search.png);
  background-repeat: no-repeat; 
  background-position: 13px 8px;
  background-color: #969696;
  text-indent: 2.7rem;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 1px;
  color: #ffffff;
  margin-left: 0.7rem;
}

.input-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}

.input-search::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}

.input-search:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}

.input-search:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}

.option-title {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #b4b4b4;
  padding-bottom: 0.1rem;
}

.search-close-icon {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
}

.price-range {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #2e2e2e;
  padding-top: 0.35rem;
}

.price-range.right {
  padding-left: 8.8rem;
}

.filter-brand {
  height: 7.625rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 1.2rem;
  margin-right: 1.3rem;
  overflow: auto;
}

.filter-brand li {
  margin: 4px 0;  
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #2e2e2e;
}

.styled-checkbox + label:before {
  content: '';
  margin-top: 2px;
  margin-right: 9px;
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background: #efefef;
  border-radius: 4px;
}

.styled-checkbox:hover + label:before {
  background: #6eb2fb;
}

.styled-checkbox:checked + label:before {
  background: #6eb2fb;
}

.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 
    2px 0 0 white,
    4px 0 0 white,
    4px -2px 0 white,
    4px -4px 0 white,
    4px -6px 0 white,
    4px -8px 0 white;
  transform: rotate(45deg);
}

::-webkit-scrollbar-track
{
	background-color: #efefef;
}

::-webkit-scrollbar
{
	width: 2px;
	background-color: #efefef;
}

::-webkit-scrollbar-thumb
{
	background-color: #6c6d7a;
	border: none;
}

.item-active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffffee;  
}

.product-wish {
  font-family: 'Lucida Grande';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #767676;
}

.product-wish span {
  vertical-align: top; 
}